.form-new-post{
    width: 95%;
    font-family: 'IBM Plex Serif', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input{
    width: 200px;
    margin-top: 20px;
    height: 33px;
    padding: 6px;
    outline: none;
    border: 1px solid #680229;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 800;
    background-color: #9043b7;
    color: white;
    box-shadow: inset 1px 1px 1px #100b0b85;
}

input::placeholder{
    font-family: 'IBM Plex Serif', serif;
    color: rgba(255, 255, 255, 0.412);
}

.form-new-post textarea{
    width: 98%;
    resize: none;
    height: 40px;
    outline: none;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 800;
    padding: 6px;
}

.form-new-post label, .form-new-post button{
    font-family: 'IBM Plex Serif', serif;
    font-weight: 800;
    margin-top: 20px;
    background-color: #af0c4a;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    border: 1px solid #760832;
    box-shadow: 0px 2px 6px 2px #760832;
    cursor: pointer;
}

.form-new-post button{
    padding: 10px 20px; 
    background-color: #ba0d4f;
    margin-bottom: 60px;
}


.tags button{
    border: 1px solid #af0c4a;
    color: white;
    background-color: #cf4377;
    font-weight: 700;
    text-transform: uppercase;
    padding: 6px 10px;
    cursor: pointer;
    box-shadow: 0px 2px 3px black;
    transition: 0.5s;
}

.tags {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.tags .active{
    border: 1px solid #af0c4a;
    color: white;
    background-color: #a30640;
    font-weight: 700;
    text-transform: uppercase;
    padding: 6px 10px;
    cursor: pointer;
    box-shadow: inset 0px 1px 1px black;
    transition: 0.5s;
}
.form-new-post input{
    display: none;
}
#urlImage{
    display: block;
}