.modal-image{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.693);
    flex-direction: row;
    align-items: center;
    top: 0px;
    justify-content: center;
    display: none;
    overflow: hidden;
    z-index: 260;
  }
  
  .img-container{
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .img-container img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 90vh;
  
  }