.navbar{
    background-color: #af0c4a;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 200;
    box-shadow: 0px 2px 2px rgb(56 56 56);
}
a{
    cursor: pointer;
}
.logo{
    width: 140px;
    margin: 5px;
}

.icon-menu{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    position: absolute;
    left: 20px;
    cursor: pointer;
}
.menu-desk{
       display: none;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
}
.search input{
    width: 200px;
    margin-top: 0;
    margin-right: 14px;
    margin-left: 40px;
    height: 33px;
    padding: 6px 20px;
    outline: none;
    border: none;
    font-family: "IBM Plex Serif",serif;
    font-weight: 800;
    background-color: #ffabcc42;
    color: #fff;
    box-shadow: inset 1px 1px 2px #100b0b85;
    text-align: start;
    border-radius: 6px;
}

div.menu > ul > li > div.search >input{
    width: 80%;
    margin-right: 0px;
    margin-left: 0px;
    padding: 6px 60px;
}

.search i{
    position: absolute;
    right: 12px;
    color: white;
    filter: drop-shadow(1px 1px 1px rgba(85, 85, 85, 0.604));
    cursor: pointer;
}
div.menu > ul > li > div.search > i{
    right: auto;
    left: 14%;
}


@media (min-width: 768px) {
   .menu,.icon-menu{
       display: none;
   }
   .menu-desk{
    display: flex;
    position: absolute;
    left: 20px;
   }
   .menu-desk.login{
       left: auto;
       right: 10px;
   }

   .menu-desk.login li{
    left: auto;
    right: 10px;
    background: rgba(255, 255, 255, 0.344);
    }
    .menu-desk.login i{
    margin-right: 10px;
    }

   .menu-desk ul{
    display: flex;
    flex-direction: row;
   }
   .username-top>p{
    font-weight: 800;
    color: white;
    letter-spacing: 1.5px;
    padding: 6px 10px;
    margin-right: 10px;
   }
   .username-top{
    display: flex;
    align-items: center;
    color: white;
    }
    .username-top i{
        font-size: 20px;
        cursor: pointer;
    }

   .menu-desk li{
    list-style: none;
    cursor: pointer;
    margin-right: 30px;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 800;
    color: white;
    letter-spacing: 1.5px;
    background: rgba(255, 255, 255, 0.344);

    padding: 6px 10px;
    box-shadow: 0 2px 2px 0 rgba(73, 7, 77, 0.37);
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
}

}