.navbar{
    background-color: #af0c4a;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 200;
    box-shadow: 0px 2px 2px rgb(56 56 56);
}

.logo{
    width: 140px;
    margin: 5px;
}

.icon-menu{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    position: absolute;
    left: 20px;
    cursor: pointer;
}