img{
  max-height: 80vh;
  max-width: 100%;

  margin: auto;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p{
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
}

.gallery{
  min-height: 120vh;
}