
.img-item img{
    border-radius: 10px 10px 0 0;
    width: 100%;
    border-bottom: 1px solid rgba(84, 25, 67, 0.398);
    cursor: pointer;
    object-fit: cover;
}

.tags-img{
    min-height: 40px;
    text-align: left;
    padding: 6px;
}

.tags-img p{
  display: inline;
  cursor: pointer;
  color: #af0c4a;
  font-weight: 800;
}
.tags-img p:hover{
  color: #9d0d9d;

}
.my-masonry-grid {
        display: -webkit-box; /* Not needed if autoprefixing */
        display: -ms-flexbox; /* Not needed if autoprefixing */
        display: flex;
        margin-left: -30px; /* gutter size offset */
        width: 98%;
        margin-top: 20px;
        min-height: 120vh;
      }
      .my-masonry-grid_column {
        padding-left: 30px; /* gutter size */
        background-clip: padding-box;
      }
      
      /* Style your items */
      .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
        border-radius: 10px;
        text-align: center;
        margin-bottom: 30px;
        box-shadow: 0px 4px 6px 1px rgb(102 102 102);
    }
